@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
    <title>I-work移动办公后台管理系统</title>
    <link href="~/Content/Themes/desktop.css" rel="stylesheet" />
    <link href="~/Content/Themes/login.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/FunctionJS.js"></script>
    <script type="text/javascript">
        /*检查浏览器是否支持*/
        var isIE = !!window.ActiveXObject;
        var isIE6 = isIE && !window.XMLHttpRequest;
        if (isIE6) {
            window.location.href = "ErrorPage/Browser_Not_Support.html";
        }
        //回车键
        document.onkeydown = function (e) {
            if (!e) e = window.event; //火狐中是 window.event
            if ((e.keyCode || e.which) == 13) {
                var obtnSearch = document.getElementById("Log_Submit")
                obtnSearch.focus(); //让另一个控件获得焦点就等于让文本输入框失去焦点
                obtnSearch.click();
            }
        }
        //初始化
        $(function () {
            $("#Code").bind('keyup', function () {
                if ($("#Code").val().length == 4) {
                    return CheckUserDataValid();
                }
            });
        })
        function LoginBtn() {
            var Account = $("#Account").val();
            var Pwd = $("#Pwd").val();
            var code = $("#Code").val();
            if (Account == "") {
                $("#Account").focus();
                showTopMsg("登录账户不能为空", 4000, 'error');
                return false;
            } else if (Pwd == "") {
                $("#Pwd").focus();
                showTopMsg("登录密码不能为空", 4000, 'error');
                return false;
            } else if (code == "") {
                $("#Code").focus();
                showTopMsg("验证码不能为空", 4000, 'error');
                return false;
            } else if (code.length != 4) {
                $("#Code").focus();
                showTopMsg("验证码必须为4位", 4000, 'error');
                return false;
            } else {
                return true;
            }
        }
        /**
        数据验证完整性
        **/
        function CheckUserDataValid() {
            if (!LoginBtn()) {
                return false;
            }
            else {
                CheckingLogin(1);
                //获取到要传递到控制器的参数。UserName，UserPassword，Code
                var postData = {
                    User_Name: $("#Account").val(),
                    Password: $("#Pwd").val(),
                    Code: $("#Code").val()
                };
                //发送异步请求实现登录 ajax
                $.ajax({
                    url: '/Login/CheckUserInfo',
                    data: postData,
                    cache: false,
                    async: true,
                    type: 'post',
                    success: function (data) {
                        if (data == "NotAdminOK") {
                            window.location.href = "/Home/Index";
                        } else if (data == "AdminOK") {
                            window.location.href = "/LogManage/loginLog";
                        } else {
                            alert(data);
                            newCheckCode();
                            document.getElementById("txtCheckCode").value = '';
                        }
                    }
                });
                var parm = 'action=login&Account=' + escape(Account) + '&Pwd=' + escape(Pwd) + '&code=' + escape(code);
                getAjax('Frame.ashx', parm, function (rs) {
                    rs = 0;
                    if (parseInt(rs) == 1) {
                        $("#Code").focus();
                        showTopMsg("验证码输入不正确", 4000, 'error');
                        $("#Code").val("");
                        ToggleCode("Verify_codeImag", 'VerifyCode.ashx');
                        CheckingLogin(0);
                    } else if (parseInt(rs) == 2) {
                        $("#Account").focus();
                        showTopMsg("登录账户被停用", 4000, 'error');
                        CheckingLogin(0);
                    } else if (parseInt(rs) == 4) {
                        $("#Account").focus();
                        showTopMsg("账户或密码有错误", 4000, 'error');
                        resetInput();
                        CheckingLogin(0);
                    } else if (parseInt(rs) == 6) {
                        $("#Account").focus();
                        showTopMsg("该用户已经登录", 4000, 'error');
                        CheckingLogin(0);
                    } else if (parseInt(rs) == 3) {
                        setInterval(Load, 1000);
                    } else if (parseInt(rs) == 7) {
                        $("#Account").focus();
                        showTopMsg("内部错误,登录失败", 4000, 'error');
                        CheckingLogin(0);
                    } else {
                        CheckingLogin(0);
                        alert(rs);
                        window.location.href = window.location.href.replace('#', '');
                    }
                });
            }
        }
        //登陆加载
        function Load() {
            window.location.href = 'MainIndex.html';//手风琴版风格
            return false;
        }
        //清空
        function resetInput() {
            $("#Account").focus(); //默认焦点
            $("#Account").val("");
            $("#Pwd").val("");
            $("#Code").val("");
        }
        function CheckingLogin(id) {
            if (id == 1) {
                $("#Log_Submit").attr("disabled", "disabled")
                $("#Log_Submit").attr("class", "signload");
                $(".load").show();
            } else {
                $("#Log_Submit").removeAttr('disabled');
                $("#Log_Submit").attr("class", "sign");
                $(".load").hide();
            }
        }
        function hidelblAccount() {
            $("#lblAccount").html("");
        }
        function showlblAccount() {
            if (document.getElementById("Account").value == "")
                $("#lblAccount").html("输入登录账户");
        }
        function hidelblPwd() {
            $("#lblPwd").html("");
        }
        function showlblPwd() {
            if (document.getElementById("Pwd").value == "")
                $("#lblPwd").html("输入登录密码");
        }
        function hidelblCode() {
            $("#lblCode").html("");
        }
        function showlblCode() {
            if (document.getElementById("Code").value == "")
                $("#lblCode").html("验证码");
        }
    </script>
</head>
<body>
    <div id="thead">
        <div class="bg1"></div>
        <div class="bg2"></div>
        <div class="bg3">
            <div class="nav">
                <ul class="Form FancyForm">
                    <li>
                        <input id="Account" type="text" class="stext" value="" onfocus="hidelblAccount()" onblur="showlblAccount()" />
                        <label id="lblAccount">输入登录账户</label>
                        <span class="fff"></span>
                    </li>
                    <li>
                        <input id="Pwd" name="" type="password" class="stext" value="" onfocus="hidelblPwd()" onblur="showlblPwd()" />
                        <label id="lblPwd">输入登录密码</label>
                        <span class="fff"></span>
                    </li>
                    <li>
                        <input maxlength="4" id="Code" type="text" class="stext" style="width: 100px; ime-mode: disabled" onfocus="hidelblCode()" onblur="showlblCode()" />
                        <label id="lblCode">验证码</label>
                        <span class="fff" style="width: 185px;"></span>
                    </li>
                </ul>
                <div class="s8">
                    <table>
                        <tr style="height: 20px;">
                            <td>
                                <img src="/Login/getCheckCode" id="Verify_codeImag" width="80" alt="点击切换验证码"
                                    title="点击切换验证码" style="cursor: pointer; height: 30px;"
                                    onclick="ToggleCode(this.id, '/Login/getCheckCode');return false;" />
                            </td>
                            <td>
                                <input id="Log_Submit" type="button" class="sign" onclick="return CheckUserDataValid();" />
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="load">
                    <img src="~/Content/Themes/Images/Login/loading.gif" />
                </div>
            </div>
        </div>
        <div class="bg4">
            <p>
                适用浏览器：IE8、360、FireFox、Chrome、Safari、Opera、傲游、搜狗、世界之窗。
            </p>
        </div>
    </div>
    <div id="bottom">
    </div>
</body>
</html>
