@{
    ViewBag.Title = "首页";
}
<link href="~/Content/Themes/desktop.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/Desktop.js"></script>
<script src="~/Scripts/FunctionJS.js"></script>
<link href="~/Scripts/artDialog/skins/blue.css" rel="stylesheet" />
<script src="~/Scripts/artDialog/artDialog.source.js"></script>
<script src="~/Scripts/artDialog/iframeTools.source.js"></script>
<script>
    $(function () {
        AddTabMenu('Imain', 'Content/Desktop.html', '个人桌面', 'false');
        GetFirstMenu();
        $("#topnav li").click(function () {
            $("#topnav li").find('a').removeClass("onnav")
            $(this).find('a').addClass("onnav");
        });
    })
    //开始菜单
    var FirstMenuJson = "";
    function GetFirstMenu() {
        var html = "";
        var index = 0;
        var css = "";
        getAjaxGet("/Content/MenuData.html", "", function (data) {
            FirstMenuJson = eval("(" + data + ")");
            $.each(FirstMenuJson, function (i) {
                if (FirstMenuJson[i].ParentId == '9f8ce93a-fc2d-4914-a59c-a6b49494108f') {
                    if (index == 0) {
                        css = "class=\"active\"";
                        GetSecond_Menu(FirstMenuJson[i].MenuId);
                    } else {
                        css = "";
                    }
                    html += "<li onclick=\"GetSecond_Menu('" + FirstMenuJson[i].MenuId + "')\" ><a " + css + " href=\"javascript:;\">"
                    html += "<img align=\"absMiddle\" src=\"Content/Themes/Images/32/" + FirstMenuJson[i].Img + "\" />"
                    html += "" + FirstMenuJson[i].FullName + "</a></li>"
                    index++;
                }
            });
        })
        $("#first_menu").append(html);
        $("#first_menu a").click(function () {
            $("#first_menu a").removeClass('active');
            $(this).addClass('active');
        });
    }
    //开始子菜单
    function GetSecond_Menu(MenuId) {
        $("#second_menu").empty();
        var html = "";
        $.each(FirstMenuJson, function (i) {
            if (FirstMenuJson[i].ParentId == MenuId) {
                html += "<li onclick=\"AddTabMenu('" + FirstMenuJson[i].MenuId + "', '" + FirstMenuJson[i].NavigateUrl + "', '" + FirstMenuJson[i].FullName + "', 'true');$('#overlay_startmenu').hide();$('#start_menu_panel').slideUp(300);\"><a href=\"javascript:;\"><img align=\"absMiddle\" src=\"Content/Themes/Images/32/" + FirstMenuJson[i].Img + "\" />" + FirstMenuJson[i].FullName + "</a></li>";
            }
        });
        $("#second_menu").append(html);
    }
    //控制面板
    function Controlpanel() {
        AddTabMenu('Controlpanel', 'ControlpanelIndex.html', '控制面板', '5026_settings.html', 'true');
    }

    /* 请求Ajax 带返回值
   --------------------------------------------------*/
    function getAjaxGet(url, parm, callBack) {
        $.ajax({
            type: 'get',
            dataType: "text",
            url: url,
            data: parm,
            cache: false,
            async: false,
            success: function (msg) {
                callBack(msg);
            }
        });
    }
</script>
<div id="north">
    <div id="north_left">
        <table>
            <tr>
                <td>
                    <img src="/content/Themes/Images/product.png" style="" />
                </td>
            </tr>
        </table>
    </div>
    <div id="north_right">
        <ul id="topnav">
            <li id="metnav_1" class="list">
                <a href="javascript:;" id="nav_1" class="onnav" onclick="Replace();">
                    <span class="c1"></span>
                    首页信息
                </a>
            </li>
            <li id="metnav_3" class="list" onclick="Controlpanel();">
                <a href="javascript:;" id="nav_3">
                    <span class="c3"></span>
                    控制面板
                </a>
            </li>
            <li id="metnav_5" class="list" onclick="IndexOut();">
                <a href="javascript:;" id="nav_4">
                    <span class="c4"></span>
                    安全退出
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="taskbar">
    <div id="taskbar_left">
        <a href="javascript:;" id="start_menu"></a>
    </div>
    <div id="taskbar_center">
        <div id="tabs_container">
        </div>
        <div id="tabs_right_scroll"></div>
    </div>
    <div id="taskbar_right">
        <a id="portal" href="javascript:;" title="事务提醒"></a>
        <a id="hide_topbar" href="javascript:;" onclick="Maximize()" title="隐藏/显示顶部"></a>
    </div>
</div>
<div id="funcbar">
</div>
<div id="ContentPannel" style="background: #fff;">
</div>
<!-- 主界面状态栏 -->
<div id="south">
    <div id="south-line">
    </div>
    <div style="width: 42%; float: left; text-align: left;">
        &nbsp;<a title="点击链接公司官网" href="javascript:void()">技术支持：侏罗纪软件股份有限公司</a>
        <span class="south-separator"></span>
        &nbsp;专业版 V1.0
                <span class="south-separator"></span>
        &nbsp;<a title="将问题提交给开发商进行解决" target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=ZlFVX1RRVFRVXiYXF0gFCQs">问题反馈</a>
        <span class="south-separator"></span>
    </div>
    <div style="width: 16%; float: left; text-align: left;">
        CopyRight © 2014-2015 By HXL
    </div>
    <div style="width: 42%; float: left; text-align: right;">
        <span class="south-separator"></span>
        操作员：胡孝林[admin]
                <span class="south-separator"></span>
        所在部门：技术研发部
                <span class="south-separator"></span>
        在线人数：325&nbsp;
    </div>
</div>
<!-- 导航菜单 -->
<div id="start_menu_panel">
    <div class="panel-head"></div>
    <!-- 登录用户信息 -->
    <div class="panel-user">
        <div class="avatar">
            <img src="/content/Themes/Images/man.png" />
        </div>
        <div class="name">
            欢迎您，胡孝林[admin]
        </div>
    </div>
    <div class="panel-menu">
        <!-- 一级菜单 -->
        <div id="first_panel">

            <ul id="first_menu" style="height: 350px;">
            </ul>

        </div>
        <!-- 二级级菜单 -->

        <div id="second_panel">
            <div class="second-panel-head"></div>
            <div style="POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 350px; OVERFLOW: hidden; PADDING-TOP: 0px" class="second-panel-menu">
                <div style="Z-INDEX: 9999; POSITION: relative; PADDING-RIGHT: 15px; ZOOM: 1; TOP: 0px" class="jscroll-c">
                    <ul id="second_menu">
                    </ul>
                </div>
            </div>
            <div class="second-panel-foot"></div>
        </div>
    </div>
    <div class="panel-foot"></div>
</div>
<div id="overlay_startmenu"></div>

<!--载进度条start-->
<div id="loading" onclick="Loading(false);">
    <img src="/content/Themes/Images/loading.gif" style="padding-bottom: 4px; vertical-align: middle;" />&nbsp;正在处理，请稍待&nbsp;
</div>
