<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>侏罗纪新闻</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link href="~/Content/Style/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://goratchet.com/dist/css/ratchet.min.css">
    <script src="~/Scripts/ratchet.min.js"></script>
    <script src="~/Scripts/cnc.js"></script>
</head>
<body>
    <header class="bar bar-nav">
        <a class="icon icon-gear pull-right" href="http://192.168.137.1/news/#settingsModal"></a>
        <h1 class="title">侏罗纪新闻</h1>
    </header>

    <div class="bar bar-standard bar-header-secondary">
        <form id="1295057120">
            <input type="search" placeholder="Search">
        </form>
    </div>

    <div class="content">

        <div class="slider">
            <div class="slide-group">
                <div class="slide">
                    <img src="~/Content/News/NRC.jpg" style="width: 100%" alt="Skyfall" height="200">
                </div>
                <div class="slide">
                    <img src="~/Content/News/694.jpg" style="width: 100%" alt="Skyfall" height="200">
                </div>
            </div>
        </div>

        <ul class="table-view">
            <li class="table-view-cell table-view-divider">推荐新闻</li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/1438" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/1436.png" alt="Placeholder image for Argo&#39;s poster">
                    <div class="media-body">
                        侏罗纪大讲堂第三季第一讲
             
                        <p>2015年3月21日，“侏罗纪大讲堂”第三季第一讲——“软件工程...</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/1079" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/NRC_logo.jpg" alt="Placeholder image for Skyfall&#39;s poster">
                    <div class="media-body">
                        乍得大项目部年终总结及新年活动
             
                        <p>乍得大项目部年终总结会议于乍...</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/253" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/694_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        侏罗纪大讲堂第二季第三讲
             
                        <p>2014年11月14日，第二季第三期侏罗纪大讲堂在长江大学资源信息</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/692" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/690_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        SEC储量评估系统及搜索平台项目立项会议
             
                        <p>2014年11月14日上午，为加强...</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/688" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/686_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        侏罗纪大讲堂第二季第二讲
             
                        <p>2014年10月25-26日，第二季第二期“侏罗纪大讲堂”——“走进信息化..</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/30" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/676_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        长江大学计科院领导至我司探望实验班毕业生
             
                        <p>2014年7月9日，长江大学计算..</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/704" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/703_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        第五届石油软件实验班新生见面会
             
                        <p>2014年7月2日上午，在长江大...</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/681" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/679_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        第三届校企合作实验班毕业典礼隆重举行
             
                        <p>6月16日下午，第三届校区合...</p>
                    </div>
                </a>
            </li>
            <li class="table-view-cell media">
                <a class="navigate-right" href="http://www.jurassic.com.cn/zh-cn/News/Details/726" data-transition="slide-in">
                    <img class="media-object pull-left" src="~/Content/Themes/Images/News/725_logo.jpg" alt="Placeholder image for Wreck-it Ralph&#39;s poster">
                    <div class="media-body">
                        侏罗纪内部讲师培训
             
                        <p> 2014年9月4日下午，侏罗纪内部讲师培训——《讲师入门培训》...</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.content -->

    <!-- Settings modal -->
    <div id="settingsModal" class="modal">
        <header class="bar bar-nav">
            <a class="icon icon-close pull-right" href="http://192.168.137.1/news"></a>
            <h1 class="title">设置</h1>
        </header>

        <div class="content">
            <form class="input-group" id="1295057320">
                <input type="text" placeholder="姓名">
                <input type="email" placeholder="邮箱">
            </form>

            <h5 class="content-padded">通知设置</h5>

            <ul class="table-view">
                <li class="table-view-cell media">
                    <span class="media-object pull-left icon icon-sound"></span>
                    <div class="media-body">
                        启用声音提醒
           
                    </div>
                    <div class="toggle">
                        <div class="toggle-handle"></div>
                    </div>
                </li>
                <li class="table-view-cell media">
                    <span class="media-object pull-left icon icon-person"></span>
                    <div class="media-body">
                        启用震动提醒
           
                    </div>
                    <div class="toggle">
                        <div class="toggle-handle"></div>
                    </div>
                </li>
            </ul>
            <div class="content-padded">
                <button class="btn btn-positive btn-block">保存设置</button>
            </div>
        </div>
    </div>
</body>
</html>
